<strong>Ola, {{ student }}</strong>
<p>Seja bem-vindo à Academia GymPoint!</p>
<p>Veja abaixo os detalhes do seu plano:</p>
<p>
  <strong>Plano: </strong> {{ gymPlan }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
  <strong>Data do término do plano: </strong> {{ date }} <br />
</p>
